이를 위해 pyspark과 Py4J 패키지를 설치한다. Py4J 패키지는 파이썬 프로그램이 자바가상머신상의 오브젝트들을 접근할 수 있게 해준다. Local Standalone Spark을 사용한다.

In [1]:
!pip install pyspark==3.5.3

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark==3.5.3
  Downloading pyspark-3.5.3.tar.gz (281.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.4/281.4 MB 4.4 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.7
  Downloading py4j-0.10.9.7-py2.py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 KB 12.2 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845512 sha256=a051dc3356489e2db2daffc911fcf3ba48c0630c00bea8ea3f7487a62f6cf816
  Stored in directory: /root/.cache/pip/wheels/43/dc/11/ec201cd671da62fa9c5cc77078235e40722170ceba231d7598
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.7 pyspark-3.5.3

**Spark Session**을 하나 만든다

In [2]:
from pyspark.sql import *
from pyspark.sql.functions import *

if __name__ == "__main__":
    spark = SparkSession \
        .builder \
        .appName("Spark Schema Evolution Demo") \
        .master("local[3]") \
        .getOrCreate()

In [3]:
!wget https://s3-geospatial.s3.us-west-2.amazonaws.com/schema1.parquet
!wget https://s3-geospatial.s3.us-west-2.amazonaws.com/schema2.parquet
!wget https://s3-geospatial.s3.us-west-2.amazonaws.com/schema3.parquet

--2023-01-26 23:42:10--  https://s3-geospatial.s3.us-west-2.amazonaws.com/schema1.parquet
Resolving s3-geospatial.s3.us-west-2.amazonaws.com (s3-geospatial.s3.us-west-2.amazonaws.com)... 52.92.209.162, 52.92.176.250, 52.218.184.129, ...
Connecting to s3-geospatial.s3.us-west-2.amazonaws.com (s3-geospatial.s3.us-west-2.amazonaws.com)|52.92.209.162|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 49915 (49K) [binary/octet-stream]
Saving to: ‘schema1.parquet’

schema1.parquet     100%[===================>]  48.75K  --.-KB/s    in 0.08s

2023-01-26 23:42:10 (607 KB/s) - ‘schema1.parquet’ saved [49915/49915]

--2023-01-26 23:42:11--  https://s3-geospatial.s3.us-west-2.amazonaws.com/schema2.parquet
Resolving s3-geospatial.s3.us-west-2.amazonaws.com (s3-geospatial.s3.us-west-2.amazonaws.com)... 52.92.209.162, 52.92.176.250, 52.218.184.129, ...
Connecting to s3-geospatial.s3.us-west-2.amazonaws.com (s3-geospatial.s3.us-west-2.amazonaws.com)|52.92.209.162|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 57205 (56K) [binary/octet-stream]
Saving to: ‘schema2.parquet’

schema2.parquet     100%[===================>]  55.86K  --.-KB/s    in 0.08s

2023-01-26 23:42:11 (667 KB/s) - ‘schema2.parquet’ saved [57205/57205]

--2023-01-26 23:42:11--  https://s3-geospatial.s3.us-west-2.amazonaws.com/schema3.parquet
Resolving s3-geospatial.s3.us-west-2.amazonaws.com (s3-geospatial.s3.us-west-2.amazonaws.com)... 52.92.209.162, 52.92.176.250, 52.218.184.129, ...
Connecting to s3-geospatial.s3.us-west-2.amazonaws.com (s3-geospatial.s3.us-west-2.amazonaws.com)|52.92.209.162|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 71580 (70K) [binary/octet-stream]
Saving to: ‘schema3.parquet’

schema3.parquet     100%[===================>]  69.90K   427KB/s    in 0.2s

2023-01-26 23:42:12 (427 KB/s) - ‘schema3.parquet’ saved [71580/71580]

In [4]:
df1 = spark.read. \
    parquet("schema1.parquet")
    
df1.printSchema()
df1.show()

root
 |-- Date: timestamp (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)

+-------------------+------------------+------------------+------------------+------------------+
|               Date|              Open|              High|               Low|             Close|
+-------------------+------------------+------------------+------------------+------------------+
|2010-01-04 08:00:00|        213.429998|        214.499996|212.38000099999996|        214.009998|
|2010-01-05 08:00:00|        214.599998|        215.589994|        213.249994|        214.379993|
|2010-01-06 08:00:00|        214.379993|            215.23|        210.750004|        210.969995|
|2010-01-07 08:00:00|            211.75|        212.000006|        209.050005|            210.58|
|2010-01-08 08:00:00|        210.299994|        212.000006|209.06000500000002|211.98000499999998|
|2010-01-11 08:00:00|212.79999700000002|        213.000002|        208.450005|210.11000299999998|
|2010-01-12 08:00:00|209.18999499999998|209.76999500000002|        206.419998|        207.720001|
|2010-01-13 08:00:00|        207.870005|210.92999500000002|        204.099998|        210.650002|
|2010-01-14 08:00:00|210.11000299999998|210.45999700000002|        209.020004|            209.43|
|2010-01-15 08:00:00|210.92999500000002|211.59999700000003|        205.869999|            205.93|
|2010-01-19 08:00:00|        208.330002|215.18999900000003|        207.240004|        215.039995|
|2010-01-20 08:00:00|        214.910006|        215.549994|        209.500002|            211.73|
|2010-01-21 08:00:00|        212.079994|213.30999599999998|        207.210003|        208.069996|
|2010-01-22 08:00:00|206.78000600000001|        207.499996|            197.16|            197.75|
|2010-01-25 08:00:00|202.51000200000001|        204.699999|        200.190002|        203.070002|
|2010-01-26 08:00:00|205.95000100000001|        213.710005|        202.580004|        205.940001|
|2010-01-27 08:00:00|        206.849995|            210.58|        199.530001|        207.880005|
|2010-01-28 08:00:00|        204.930004|        205.500004|        198.699995|        199.289995|
|2010-01-29 08:00:00|        201.079996|        202.199995|        190.250002|        192.060003|
|2010-02-01 08:00:00|192.36999699999998|             196.0|191.29999899999999|        194.729998|
+-------------------+------------------+------------------+------------------+------------------+
only showing top 20 rows

In [5]:
df2 = spark.read. \
    parquet("schema2.parquet")
    
df2.printSchema()
df2.show()

root
 |-- Date: timestamp (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: integer (nullable = true)

+-------------------+------------------+------------------+------------------+------------------+---------+
|               Date|              Open|              High|               Low|             Close|   Volume|
+-------------------+------------------+------------------+------------------+------------------+---------+
|2010-01-04 08:00:00|        213.429998|        214.499996|212.38000099999996|        214.009998|123432400|
|2010-01-05 08:00:00|        214.599998|        215.589994|        213.249994|        214.379993|150476200|
|2010-01-06 08:00:00|        214.379993|            215.23|        210.750004|        210.969995|138040000|
|2010-01-07 08:00:00|            211.75|        212.000006|        209.050005|            210.58|119282800|
|2010-01-08 08:00:00|        210.299994|        212.000006|209.06000500000002|211.98000499999998|111902700|
|2010-01-11 08:00:00|212.79999700000002|        213.000002|        208.450005|210.11000299999998|115557400|
|2010-01-12 08:00:00|209.18999499999998|209.76999500000002|        206.419998|        207.720001|148614900|
|2010-01-13 08:00:00|        207.870005|210.92999500000002|        204.099998|        210.650002|151473000|
|2010-01-14 08:00:00|210.11000299999998|210.45999700000002|        209.020004|            209.43|108223500|
|2010-01-15 08:00:00|210.92999500000002|211.59999700000003|        205.869999|            205.93|148516900|
|2010-01-19 08:00:00|        208.330002|215.18999900000003|        207.240004|        215.039995|182501900|
|2010-01-20 08:00:00|        214.910006|        215.549994|        209.500002|            211.73|153038200|
|2010-01-21 08:00:00|        212.079994|213.30999599999998|        207.210003|        208.069996|152038600|
|2010-01-22 08:00:00|206.78000600000001|        207.499996|            197.16|            197.75|220441900|
|2010-01-25 08:00:00|202.51000200000001|        204.699999|        200.190002|        203.070002|266424900|
|2010-01-26 08:00:00|205.95000100000001|        213.710005|        202.580004|        205.940001|466777500|
|2010-01-27 08:00:00|        206.849995|            210.58|        199.530001|        207.880005|430642100|
|2010-01-28 08:00:00|        204.930004|        205.500004|        198.699995|        199.289995|293375600|
|2010-01-29 08:00:00|        201.079996|        202.199995|        190.250002|        192.060003|311488100|
|2010-02-01 08:00:00|192.36999699999998|             196.0|191.29999899999999|        194.729998|187469100|
+-------------------+------------------+------------------+------------------+------------------+---------+
only showing top 20 rows

In [6]:
df3 = spark.read. \
    parquet("schema3.parquet")
    
df3.printSchema()
df3.show()

root
 |-- Date: timestamp (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: integer (nullable = true)
 |-- Adj Close: double (nullable = true)

+-------------------+------------------+------------------+------------------+------------------+---------+------------------+
|               Date|              Open|              High|               Low|             Close|   Volume|         Adj Close|
+-------------------+------------------+------------------+------------------+------------------+---------+------------------+
|2010-01-04 08:00:00|        213.429998|        214.499996|212.38000099999996|        214.009998|123432400|         27.727039|
|2010-01-05 08:00:00|        214.599998|        215.589994|        213.249994|        214.379993|150476200|27.774976000000002|
|2010-01-06 08:00:00|        214.379993|            215.23|        210.750004|        210.969995|138040000|27.333178000000004|
|2010-01-07 08:00:00|            211.75|        212.000006|        209.050005|            210.58|119282800|          27.28265|
|2010-01-08 08:00:00|        210.299994|        212.000006|209.06000500000002|211.98000499999998|111902700|         27.464034|
|2010-01-11 08:00:00|212.79999700000002|        213.000002|        208.450005|210.11000299999998|115557400|         27.221758|
|2010-01-12 08:00:00|209.18999499999998|209.76999500000002|        206.419998|        207.720001|148614900|          26.91211|
|2010-01-13 08:00:00|        207.870005|210.92999500000002|        204.099998|        210.650002|151473000|          27.29172|
|2010-01-14 08:00:00|210.11000299999998|210.45999700000002|        209.020004|            209.43|108223500|         27.133657|
|2010-01-15 08:00:00|210.92999500000002|211.59999700000003|        205.869999|            205.93|148516900|26.680197999999997|
|2010-01-19 08:00:00|        208.330002|215.18999900000003|        207.240004|        215.039995|182501900|27.860484999999997|
|2010-01-20 08:00:00|        214.910006|        215.549994|        209.500002|            211.73|153038200|         27.431644|
|2010-01-21 08:00:00|        212.079994|213.30999599999998|        207.210003|        208.069996|152038600|         26.957455|
|2010-01-22 08:00:00|206.78000600000001|        207.499996|            197.16|            197.75|220441900|         25.620401|
|2010-01-25 08:00:00|202.51000200000001|        204.699999|        200.190002|        203.070002|266424900|26.309658000000002|
|2010-01-26 08:00:00|205.95000100000001|        213.710005|        202.580004|        205.940001|466777500|         26.681494|
|2010-01-27 08:00:00|        206.849995|            210.58|        199.530001|        207.880005|430642100|26.932840000000002|
|2010-01-28 08:00:00|        204.930004|        205.500004|        198.699995|        199.289995|293375600|25.819922000000002|
|2010-01-29 08:00:00|        201.079996|        202.199995|        190.250002|        192.060003|311488100|         24.883208|
|2010-02-01 08:00:00|192.36999699999998|             196.0|191.29999899999999|        194.729998|187469100|         25.229131|
+-------------------+------------------+------------------+------------------+------------------+---------+------------------+
only showing top 20 rows

In [7]:
df = spark.read. \
    option("mergeSchema", True). \
    parquet("*.parquet")
    
df.printSchema()

root
 |-- Date: timestamp (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: integer (nullable = true)
 |-- Adj Close: double (nullable = true)

In [8]:
df.show(10)

+-------------------+------------------+------------------+------------------+------------------+---------+------------------+
|               Date|              Open|              High|               Low|             Close|   Volume|         Adj Close|
+-------------------+------------------+------------------+------------------+------------------+---------+------------------+
|2010-01-04 08:00:00|        213.429998|        214.499996|212.38000099999996|        214.009998|123432400|         27.727039|
|2010-01-05 08:00:00|        214.599998|        215.589994|        213.249994|        214.379993|150476200|27.774976000000002|
|2010-01-06 08:00:00|        214.379993|            215.23|        210.750004|        210.969995|138040000|27.333178000000004|
|2010-01-07 08:00:00|            211.75|        212.000006|        209.050005|            210.58|119282800|          27.28265|
|2010-01-08 08:00:00|        210.299994|        212.000006|209.06000500000002|211.98000499999998|111902700|         27.464034|
|2010-01-11 08:00:00|212.79999700000002|        213.000002|        208.450005|210.11000299999998|115557400|         27.221758|
|2010-01-12 08:00:00|209.18999499999998|209.76999500000002|        206.419998|        207.720001|148614900|          26.91211|
|2010-01-13 08:00:00|        207.870005|210.92999500000002|        204.099998|        210.650002|151473000|          27.29172|
|2010-01-14 08:00:00|210.11000299999998|210.45999700000002|        209.020004|            209.43|108223500|         27.133657|
|2010-01-15 08:00:00|210.92999500000002|211.59999700000003|        205.869999|            205.93|148516900|26.680197999999997|
+-------------------+------------------+------------------+------------------+------------------+---------+------------------+
only showing top 10 rows